/*--------------------------------------------------------------------------
+	Testimonials Style
--------------------------------------------------------------------------*/
.testimonial blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
}
.testimonial blockquote p {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.5;
}
.testimonial .testimonial-bubble {
  text-align: justify;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  margin: 35px 10px 20px 10px;
  background: #FFF;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.testimonial .testimonial-bubble::before {
  background-color: #FFF;
  content: "\00a0";
  display: block;
  height: 20px;
  width: 20px;
  top: -10px;
transform: rotate(45deg);
  left: 45%;
  position: relative;
 
}
.testimonial .author-photo {
  text-align: center;
}
.testimonial .author-photo img {
  margin: auto;
  border: 5px solid #FFF;
  
  -webkit-background-clip: padding-box;
 
  -moz-background-clip: padding;
  
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  border-radius:70px;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.testimonial .author-info {
  font-weight: 400;
  font-size: 0.8em;
}