@CHARSET "UTF-8";



.b1{ margin-left:20px; margin-right:20px; text-align: left;  font-size:18px;}

.q1{margin-left:20px; margin-right:20px; color:#ffe0b2;  text-align: center; font-size:16px; padding: 0px 25px;}

.p1{ margin-left:20px; margin-right:20px; float: right; color:#ffe0b2; font-style:italic; padding: 0px 25px; font-family: inherit;}

.p2{ margin-left:20px; margin-right:150px; text-align: left; color:#ffe0b2;  font-size:16px; padding: 0px 25px;}

.p3{ margin-left:20px; margin-right:150px; text-align: left; color:#ffe0b2;  font-size:16px; padding: 0px 25px;}

.b2{ text-align: center; font-size:18px; }

.p4{margin-left:20px; margin-right:20px; color:#ffe0b2;  text-align: left; text-decoration:underline;  font-size:16px; padding:0px  25px;}

.p5{margin-top:7px; margin-left:20px; margin-right:200px; color:#ffe0b2;  text-align: left;   font-size:16px; padding: 0px 25px;}

.p6{margin-top:7px; margin-left:20px; margin-right:20px; color:#ffe0b2;  text-align: left;   font-size:16px; padding: 0px 25px;}

.b3{margin-left:20px; margin-right:20px; text-align: left; font-size:18px;}

.p7{margin-left:20px; margin-right:20px; color:#ffe0b2;  text-align: left;   font-size:16px; padding: 0px 25px;}

.b4{margin-left:20px; margin-right:20px; text-align: left; color:#ffe0b2;  font-size:16px; padding: 0px 25px;}

.p8{margin-top:12px; margin-left:20px; margin-right:20px; text-align: left; color:#ffe0b2;  font-size:16px; padding: 0px 25px; }
