@CHARSET "UTF-8";



h2{border-radius: 30px;  margin-left:20px; margin-right:20px; text-align: center;  font-size:18px; padding: 0px 25px; float:left;}

i{margin-left:20px; margin-right:20px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}

.p1{margin-left:20px; margin-right:160px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}

.p2{margin-left:20px; margin-right:160px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}

.p3{margin-left:20px; margin-right:160px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}

.p4{margin-left:20px; margin-right:20px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}

.p5{margin-left:20px; margin-right:20px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}

.p6{margin-left:20px; margin-right:20px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}

.p7{margin-left:20px; margin-right:20px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}

.p8{margin-left:20px; margin-right:160px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}

.p9{margin-left:20px; margin-right:20px; text-align:left; color:#ffe0b2; font-size:16px; padding: 0px 25px;}
