@CHARSET "UTF-8";



.b1{ margin-top:900px;  text-align: center;  font-size:25px;}



.p2{text-align: left; margin-left:200px;  color:#ffe0b2;  font-size:18px;   color:#ffe0b2;}

.p1{text-align: left; margin-left:350px;  color:#ffe0b2;  font-size:18px;   color:#ffe0b2;}


a{ text-shadow: 50px; text-decoration: none; color:#ffe0b2; }

