@CHARSET "UTF-8";

.div1{ margin-left:170px; margin-right:170px; background:#3b2415; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); filter: alpha(opacity=85);-moz-opacity: 0.85;-khtml-opacity: 0.85;opacity: 0.85;height:100%; width:65%; border-radius:30px;}

h1{text-align: center;  font-size:18px; text-decoration: none;}

p{margin-left:20px; margin-right:20px; text-align:left; color:#ffe0b2;  font-size:16px; padding: 0px 25px;}