video {
	  width: 100%    !important;
	  height: auto   !important;
	  margin-top: 28px;
	}



.offwhite-background {
	background:#F6F6F6;
	padding-top: 20px;
	padding-bottom: 30px;
}

.white-background {
	background:#F6F6F6;
}


 .color {
	color:#000000;
}

.font20 {
	font-size:20px;
	font-weight: 500;
}

h3 {
	font-size: 1.6rem;
	text-align: left;
	margin-left: 8px;
}

p {
	font-size: 16px;
	font-weight: 400;
	padding: 7px;
}

blockquote {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 20px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*-moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;*/
}

blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-size: 60px;
  font-weight: bold;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

/***************************************** BLOCKQUOTE **************************************************************************/

/****** DIMES *****/

.blockdimes {
  border-left: 5px solid #A05540;
  border-right: 2px solid #A05540;
}

.blockdimes::before {
  color: #794436;	
}

/****** DIMES *****/

/****** Currently *****/

.blockcurrently {
  border-left: 5px solid #2BA3C9;
  border-right: 2px solid #2BA3C9;
}

.blockcurrently::before {
  color: #2BA3C9;	
}
/****** Currently *****/

/****** Fuelup *****/

.blockFuelup {
  border-left: 5px solid #82001d;
  border-right: 2px solid #82001d;
}

.blockFuelup::before {
  color: #82001d;	
}
/****** Fuelup *****/

/****** Flypal *****/

.blockFlypal {
  border-left: 5px solid #2E3090;
  border-right: 2px solid #2E3090;
}

.blockFlypal::before {
  color: #2E3090;	
}
/****** Flypal *****/

/****** 365Deal *****/

.block365Deal {
  border-left: 5px solid #82BB23;
  border-right: 2px solid #82BB23;
}

.block365Deal::before {
  color: #82BB23;	
}
/****** 365Deal *****/

/****** dbt *****/

.blockdbt {
  border-left: 5px solid #0060A8;
  border-right: 2px solid #0060A8;
}

.blockdbt::before {
  color: #0060A8;	
}
/****** dbt *****/


/****** onebrand *****/

.blockonebrand {
  border-left: 5px solid #2CADEB;
  border-right: 2px solid #2CADEB;
}

.blockonebrand::before {
  color: #2CADEB;	
}
/****** onebrand *****/

/****** speedykey *****/

.blockspeedykey {
  border-left: 5px solid #EE1715;
  border-right: 2px solid #EE1715;
}

.blockspeedykey::before {
  color: #EE1715;	
}
/****** speedykey *****/

/****** stopover *****/

.blockstopover {
  border-left: 5px solid #F3A423;
  border-right: 2px solid #F3A423;
}

.blockstopover::before {
  color: #F3A423;	
}
/****** stopover *****/

/****** timesnaps *****/

.blocktimesnaps {
  border-left: 5px solid #3B3185;
  border-right: 2px solid #3B3185;
}

.blocktimesnaps::before {
  color: #3B3185;	
}
/****** timesnaps *****/

/****** babysitter *****/

.blockbabysitter {
  border-left: 5px solid #2E93BF;
  border-right: 2px solid #2E93BF;
}

.blockbabysitter::before {
  color: #2E93BF;	
}
/****** babysitter *****/

/****** moovers *****/

.blockmoovers {
  border-left: 5px solid #DD3A0A;
  border-right: 2px solid #DD3A0A;
}

.blockmoovers::before {
  color: #DD3A0A;	
}
/****** moovers *****/
	

/***************************************** BLOCKQUOTE **************************************************************************/


.box {
	
	margin-top: 30px;
    width:auto;
    height:auto;
    background:#FFF;
    padding: 20px;
}


	
/****** DIMES *****/

select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #22313F;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: none;
}
.input-group {
    margin: 20px auto;
    width: 100%;
}

button.btn {
    margin: 10px;
    border-radius: 0;
}
.promise {
    color: #999;
}


/***************ICBF****************/

.mb-wrap {
	width: 300px;
	margin: 20px auto;
	padding: 20px;
	position: relative;	
}

.mb-wrap p{
	margin: 0;
	padding: 0;
}

.mb-wrap p {
	margin: 0;
	padding: 0;
	position: relative;
}

.mb-wrap cite {
	font-style: normal;
}


/****************Subscribe form************************/


#fixed {
    bottom: 0;
    /* left: 50%;
    margin-left: -200px; */
    overflow: hidden;
    padding: 0px 10px;
    position: fixed;
    /* width: 18%; */
    z-index: 1001;
}


.fixedHeader {
    background: none repeat scroll 0 0 #4A4A4A;
    border: 1px solid #4A4A4A;
    border-bottom: none;
    color: #fff;
    height: auto;
    margin: 0 auto;
    padding: 6px;
    width: 100%;
    /* font-weight: 700; */
    font-size: 18px;

}

.fixedContent {
    background: none repeat scroll 0 0 #ffffff;
    border-left: 1px solid #4A4A4A;
    border-right: 1px solid #4A4A4A;
    margin: 0 auto;   
    width: 400px;
    height:auto;
    overflow: auto;
}

.userinput{
    width: 390px;
    height:16px;
    outline:none;
    display:block;
    resize:none;
    padding:5px;    
}

.messages{
    color: #333;
    line-height: 1.28;
    padding:5px;
    margin-left:70px;
    font-size: 14px;
    display: block;
}

.userwrap{
    position:relative;
}

.user{
    padding: 5px ;
    font-size:12px;
    color:#888;
    font-weight:700;
    position:absolute;
    left:0; top:0;
}

input.btn.btn-lg {
    width: 100%;
    height: 36px;
    border-radius: 0;
    background:#4A4A4A;
    font-size: 16px;
}

label {
	color:#555;
}

button, input, select, textarea {
   
  margin-top: 0px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px; 
    width: 92%;
    margin-right:-10px;
    margin-left:15px;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}

.modal-header .close {
    margin-top: -12px;
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}

h6 {
    font-size: 1em !important;
    margin: 1.33em 0 !important;
    text-align: center !important;
}


.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #FF4400 !important; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 600; margin-top:20px; text-align: center; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }


#sectext {
    padding: 30px 0;
    background: #F16521;
}