@CHARSET "UTF-8";

/****************************Mobile View***************************************************/

@media(max-width:750px) {

  .appstories {
	    display: table;
    	width: 100%;
    	height: auto;
    	padding: 100px 0;
    	text-align: center;
    	color: #fff;
	    background: url(../img/m_home_image.jpg) no-repeat bottom center scroll;
	    background-color: #000;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	background-size: cover;
    	-o-background-size: cover;
	}
	
	.privacy {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background-color: #FF4500;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .privacy .privacy-body {
      display: table-cell;
      vertical-align: middle;
    }


  .privacy {
        height: auto;
        padding: 0;
      }
      
      

 .clients {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/clients.jpg) no-repeat bottom center scroll;
      background-color: #FF4500;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .clients .clients-body {
      display: table-cell;
      vertical-align: middle;
    }


  .clients {
        height: auto;
        padding: 0;
      }
	
	.api {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/api.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .api .api-body {
      display: table-cell;
      vertical-align: middle;
    }


  .api {
        height: auto;
        padding: 0;
      }
      
	.moovers {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/mbg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .moovers .moovers-body {
      display: table-cell;
      vertical-align: middle;
    }


  .moovers {
        height: auto;
        padding: 0;
      }
      
   .currently {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/currentlybg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .currently .currently-body {
      display: table-cell;
      vertical-align: middle;
    }


  .currently {
        height: auto;
        padding: 0;
      }
	
	
    .dimes {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/Dimesbg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .dimes .dimes-body {
      display: table-cell;
      vertical-align: middle;
    }


  .dimes {
        height: auto;
        padding: 0;
      }
      
  .fuelup {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/Fuelupbg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .fuelup .fuelup-body {
      display: table-cell;
      vertical-align: middle;
    }


  .fuelup {
        height: auto;
        padding: 0;
      }
      
      	
	.dbt {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/dbtbg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .dbt .dbt-body {
      display: table-cell;
      vertical-align: middle;
    }


  .dbt {
        height: auto;
        padding: 0;
      }


  .deal {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/365bg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .deal .deal-body {
      display: table-cell;
      vertical-align: middle;
    }


  .deal {
        height: auto;
        padding: 0;
      }



  .rst {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/rstbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.rst .rst-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.rst {
        height: auto;
        padding: 0;
    	}
    	
    	

      .flypal {
          display: table;
          width: 100%;
          height: auto;
          padding: 100px 0;
          text-align: center;
          color: #fff;
          background: url(../appstories/flypalbg.jpg) no-repeat bottom center scroll;
          background-color: #000;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          -o-background-size: cover;
        }

      .flypal .flypal-body {
          display: table-cell;
          vertical-align: middle;
        }


      .flypal {
            height: auto;
            padding: 0;
          }

	.appbattles {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/appbattlesbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.appbattles .appbattles-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.appbattles {
        height: auto;
        padding: 0;
    	}


    .princeofasia {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/princeofasiabg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.princeofasia .princeofasia-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.princeofasia {
        height: auto;
        padding: 0;
    	}


.lifestyle {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/lifestylebg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.lifestyle .lifestyle-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.lifestyle {
        height: auto;
        padding: 0;
    	}


  .LMIOpt-InChecker {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/lmibg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.LMIOpt-InChecker .LMIOpt-InChecker-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.LMIOpt-InChecker {
        height: auto;
        padding: 0;
    	}


    .dataworks {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/dataworksbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.dataworks .dataworks-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.dataworks {
        height: auto;
        padding: 0;
    	}


    .onebrand {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/onebrand.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.onebrand .onebrand-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.onebrand {
        height: auto;
        padding: 0;
    	}


    	.inslideout {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/inslideoutbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.inslideout .inslideout-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.inslideout {
        height: auto;
        padding: 0;
    	}




.stopover {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/stopover.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.stopover .stopover-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.stopover {
        height: auto;
        padding: 0;
    	}



.timesnaps {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/timesnap.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.timesnaps .timesnaps-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.timesnaps {
        height: auto;
        padding: 0;
    	}



.babysitter {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/babysitter.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.babysitter .babysitter-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.babysitter {
        height: auto;
        padding: 0;
    	}




.speedykey {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/speedykey.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.speedykey .speedykey-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.speedykey {
        height: auto;
        padding: 0;
    	}


.storiesimg{
        padding-top:0px;
  }




.icbf {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background:url(../appstories/icbf.jpg) no-repeat bottom center fixed;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.icbf .icbf-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.icbf {
        height: auto;
        padding: 0;
    	}

    .bender {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/benderbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.bender .bender-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.bender {
        height: auto;
        padding: 0;
    	}


.freebird {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/freebirdbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	    /* background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .9; */

		}

	.freebird .freebird-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.freebird {
        height: auto;
        padding: 0;
    	}



.veeaie {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/veeaiebg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	    /* background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .9; */

		}

	.veeaie .veeaie-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.veeaie {
        height: auto;
        padding: 0;
    	}

}



/**************************** Desktop View ***************************************************/
/*******************************************************************************************/

@media(min-width:768px) {

	.appstories {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/projects.jpg) no-repeat bottom center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}

	.appstories .appstories-body {
	    display: table-cell;
	    vertical-align: middle;
	}

	.appstories .appstories-body .brand-heading {
	    font-size: 40px;
	}

	.appstories .appstories-body .intro-text {
	    font-size: 35px;
	}

    .appstories {
        height: 100%;
        padding: 0;
    }

    .appstories .appstories-body .brand-heading {
        font-size: 100px;
    }

    .appstories .appstories-body .intro-text {
        font-size: 30px;
    }

   .privacy {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background-color:#FF4500;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .privacy .privacy-body {
      display: table-cell;
      vertical-align: middle;
    }


  .privacy {
        height: auto;
        padding: 0;
      }
      
      .api {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/api.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .api .api-body {
      display: table-cell;
      vertical-align: middle;
    }


  .api {
        height: auto;
        padding: 0;
      }
      
      
   .moovers {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/mbg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .moovers .moovers-body {
      display: table-cell;
      vertical-align: middle;
    }


  .moovers {
        height: auto;
        padding: 0;
      }
  
  .currently {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/currentlybg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .currently .currently-body {
      display: table-cell;
      vertical-align: middle;
    }


  .currently {
        height: auto;
        padding: 0;
      }
	
	
    .dimes {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/Dimesbg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .dimes .dimes-body {
      display: table-cell;
      vertical-align: middle;
    }


  .dimes {
        height: auto;
        padding: 0;
      }
      
  .fuelup {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/Fuelupbg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .fuelup .fuelup-body {
      display: table-cell;
      vertical-align: middle;
    }


  .fuelup {
        height: auto;
        padding: 0;
      }
                

.dbt {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/dbtbg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .dbt .dbt-body {
      display: table-cell;
      vertical-align: middle;
    }


  .dbt {
        height: auto;
        padding: 0;
      }
      
      
  .deal {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/365bg.jpg) no-repeat bottom center scroll;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .deal .deal-body {
      display: table-cell;
      vertical-align: middle;
    }


  .deal {
        height: auto;
        padding: 0;
      }


  .rst {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/rstbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.rst .rst-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.rst {
        height: auto;
        padding: 0;
    	}

      .flypal {
    	    display: table;
    	    width: 100%;
    	    height: auto;
    	    padding: 100px 0;
    	    text-align: center;
    	    color: #fff;
    	    background: url(../appstories/flypalbg.jpg) no-repeat bottom center scroll;
    	    background-color: #000;
    	    -webkit-background-size: cover;
    	    -moz-background-size: cover;
    	    background-size: cover;
    	    -o-background-size: cover;
    		}

    	.flypal .flypal-body {
    	    display: table-cell;
    	    vertical-align: middle;
    		}


    	.flypal {
            height: auto;
            padding: 0;
        	}

	.appbattles {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/appbattlesbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.appbattles .appbattles-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.appbattles {
        height: auto;
        padding: 0;
    	}


    .princeofasia {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/princeofasiabg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.princeofasia .princeofasia-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.princeofasia {
        height: auto;
        padding: 0;
    	}


   .LMIOpt-InChecker {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/lmibg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.LMIOpt-InChecker .LMIOpt-InChecker-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.LMIOpt-InChecker {
        height: auto;
        padding: 0;
    	}

.lifestyle {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/lifestylebg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.lifestyle .lifestyle-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.lifestyle {
        height: auto;
        padding: 0;
    	}


    .dataworks {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/dataworksbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.dataworks .dataworks-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.dataworks {
        height: auto;
        padding: 0;
    	}


    .onebrand {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/onebrand.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.onebrand .onebrand-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.onebrand {
        height: auto;
        padding: 0;
    	}



    .stopover {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/stopover.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.stopover .stopover-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.stopover {
        height: auto;
        padding: 0;
    	}



    	.inslideout {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/inslideoutbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.inslideout .inslideout-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.inslideout {
        height: auto;
        padding: 0;
    	}


    .timesnaps {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/timesnap.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.timesnaps .timesnaps-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.timesnaps {
        height: auto;
        padding: 0;
    	}


	.babysitter {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/babysitter.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.babysitter .babysitter-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.babysitter {
        height: auto;
        padding: 0;
    	}



    .speedykey {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/speedykey.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.speedykey .speedykey-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.speedykey {
        height: auto;
        padding: 0;
    	}

  .storiesimg{
        padding-top:3%;
  }

   .icbf {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/icbf.jpg) no-repeat bottom center fixed;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
		}

	.icbf .icbf-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.icbf {
        height: auto;
        padding: 0;
    	}

    .bender {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/benderbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	    /* background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .9; */

		}

	.bender .bender-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.bender {
        height: auto;
        padding: 0;
    	}

.freebird {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/freebirdbg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	    /* background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .9; */

		}

	.freebird .freebird-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.freebird {
        height: auto;
        padding: 0;
    	}



	.veeaie {
	    display: table;
	    width: 100%;
	    height: auto;
	    padding: 100px 0;
	    text-align: center;
	    color: #fff;
	    background: url(../appstories/veeaiebg.jpg) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	    /* background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .9; */

		}

	.veeaie .veeaie-body {
	    display: table-cell;
	    vertical-align: middle;
		}


	.veeaie {
        height: auto;
        padding: 0;
    	}
    	
    
    .clients {
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: #fff;
      background: url(../appstories/clients.jpg) no-repeat bottom center scroll;
      background-color: #FF4500;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  .clients .clients-body {
      display: table-cell;
      vertical-align: middle;
    }


  .clients {
        height: auto;
        padding: 0;
      }	

}


.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}
.broun-block {
background: rgba(124,80,50,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(124,80,50,1) 0%, rgba(68,14,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(124,80,50,1)), color-stop(100%, rgba(68,14,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(124,80,50,1) 0%, rgba(68,14,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(124,80,50,1) 0%, rgba(68,14,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(124,80,50,1) 0%, rgba(68,14,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(124,80,50,1) 0%, rgba(68,14,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c5032', endColorstr='#440e00', GradientType=1 );
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-style: italic;
    line-height: 20px;
}

.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-size: 13px;
}
.rel {
    position: relative;
}