@CHARSET "UTF-8";


    .appstories {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: url(../img/projects.jpg) no-repeat bottom center fixed;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .appstories .appstories-body {
        display: table-cell;
        vertical-align: middle;
    }
    .appstories .appstories-body .brand-heading {
        font-size: 40px;
    }
    .appstories .appstories-body .intro-text {
        font-size: 35px;
    }
    .appstories {
        height: 100%;
        padding: 0;
    }
    .appstories .appstories-body .brand-heading {
        font-size: 100px;
    }
    .appstories .appstories-body .intro-text {
        font-size: 30px;
    }
    
    .moovers {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .moovers .moovers-body {
        display: table-cell;
        vertical-align: middle;
    }
    .moovers {
        height: auto;
        padding: 0;
    }
    .currently {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .currently .currently-body {
        display: table-cell;
        vertical-align: middle;
    }
    .currently {
        height: auto;
        padding: 0;
    }
    .dimes {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .dimes .dimes-body {
        display: table-cell;
        vertical-align: middle;
    }
    .dimes {
        height: auto;
        padding: 0;
    }
    .fuelup {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .fuelup .fuelup-body {
        display: table-cell;
        vertical-align: middle;
    }
    .fuelup {
        height: auto;
        padding: 0;
    }
    .dbt {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .dbt .dbt-body {
        display: table-cell;
        vertical-align: middle;
    }
    .dbt {
        height: auto;
        padding: 0;
    }
    .deal {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .deal .deal-body {
        display: table-cell;
        vertical-align: middle;
    }
    .deal {
        height: auto;
        padding: 0;
    }
    .rst {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .rst .rst-body {
        display: table-cell;
        vertical-align: middle;
    }
    .rst {
        height: auto;
        padding: 0;
    }
    .flypal {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .flypal .flypal-body {
        display: table-cell;
        vertical-align: middle;
    }
    .flypal {
        height: auto;
        padding: 0;
    }
    .appbattles {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .appbattles .appbattles-body {
        display: table-cell;
        vertical-align: middle;
    }
    .appbattles {
        height: auto;
        padding: 0;
    }
    .princeofasia {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .princeofasia .princeofasia-body {
        display: table-cell;
        vertical-align: middle;
    }
    .princeofasia {
        height: auto;
        padding: 0;
    }
    .LMIOpt-InChecker {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .LMIOpt-InChecker .LMIOpt-InChecker-body {
        display: table-cell;
        vertical-align: middle;
    }
    .LMIOpt-InChecker {
        height: auto;
        padding: 0;
    }
    .lifestyle {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .lifestyle .lifestyle-body {
        display: table-cell;
        vertical-align: middle;
    }
    .lifestyle {
        height: auto;
        padding: 0;
    }
    .dataworks {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .dataworks .dataworks-body {
        display: table-cell;
        vertical-align: middle;
    }
    .dataworks {
        height: auto;
        padding: 0;
    }
    .onebrand {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .onebrand .onebrand-body {
        display: table-cell;
        vertical-align: middle;
    }
    .onebrand {
        height: auto;
        padding: 0;
    }
    .stopover {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .stopover .stopover-body {
        display: table-cell;
        vertical-align: middle;
    }
    .stopover {
        height: auto;
        padding: 0;
    }
    .inslideout {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .inslideout .inslideout-body {
        display: table-cell;
        vertical-align: middle;
    }
    .inslideout {
        height: auto;
        padding: 0;
    }
    .timesnaps {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .timesnaps .timesnaps-body {
        display: table-cell;
        vertical-align: middle;
    }
    .timesnaps {
        height: auto;
        padding: 0;
    }
    .babysitter {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .babysitter .babysitter-body {
        display: table-cell;
        vertical-align: middle;
    }
    .babysitter {
        height: auto;
        padding: 0;
    }
    .speedykey {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .speedykey .speedykey-body {
        display: table-cell;
        vertical-align: middle;
    }
    .speedykey {
        height: auto;
        padding: 0;
    }
    .storiesimg {
        padding-top: 3%;
    }
    .icbf {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .icbf .icbf-body {
        display: table-cell;
        vertical-align: middle;
    }
    .icbf {
        height: auto;
        padding: 0;
    }
    .bender {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .bender .bender-body {
        display: table-cell;
        vertical-align: middle;
    }
    .bender {
        height: auto;
        padding: 0;
    }
    .freebird {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .freebird .freebird-body {
        display: table-cell;
        vertical-align: middle;
    }
    .freebird {
        height: auto;
        padding: 0;
    }
    .veeaie {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: #f5f5f5;
    }
    .veeaie .veeaie-body {
        display: table-cell;
        vertical-align: middle;
    }
    .veeaie {
        height: auto;
        padding: 0;
    }
    .clients {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: url(../appstories/clients.jpg) no-repeat bottom center scroll;
        background-color: #FF4500;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .clients .clients-body {
        display: table-cell;
        vertical-align: middle;
    }
    .clients {
        height: auto;
        padding: 0;
    }


.carousel-control.left,
.carousel-control.right {
    background: none;
    width: 25px;
}

.carousel-control.left {
    left: -25px;
}

.carousel-control.right {
    right: -25px;
}

.broun-block {
    background: #1F1F21;
    padding-bottom: 34px;
}

.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #bbb;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}

.block-text a {
    color: #1F1F21;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.mark {
    padding: 12px 0;
    background: none;
}

.block-text p {
    color: #1F1F21;
    font-style: italic;
    line-height: 20px;
}

.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}

.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}

.block {
    display: block;
}

.zmin {
    z-index: 1;
}

.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}

.person-text a {
    color: #1F1F21;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}

.person-text i {
    color: #1F1F21;
    font-size: 13px;
}

.rel {
    position: relative;
}

.appcolor {
    color: #1F1F21;
}


    

.moovers_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .moovers_story .moovers_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .moovers_story {
        height: auto;
        padding: 0;
    }
    .currently_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .currently_story .currently_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .currently_story {
        height: auto;
        padding: 0;
    }
    .dimes_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
       background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .dimes_story .dimes_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .dimes_story {
        height: auto;
        padding: 0;
    }
    .fuelup_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .fuelup_story .fuelup_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .fuelup_story_story {
        height: auto;
        padding: 0;
    }
    .dbt_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .dbt_story .dbt_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .dbt_story {
        height: auto;
        padding: 0;
    }
    .deal_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .deal_story .deal_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .deal_story {
        height: auto;
        padding: 0;
    }
    .rst_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .rst_story .rst_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .rst_story {
        height: auto;
        padding: 0;
    }
    .flypal_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .flypal_story .flypal_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .flypal_story {
        height: auto;
        padding: 0;
    }
    .appbattles_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .appbattles_story .appbattles_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .appbattles_story {
        height: auto;
        padding: 0;
    }
    .princeofasia_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .princeofasia_story .princeofasia_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .princeofasia_story {
        height: auto;
        padding: 0;
    }
    .LMIOpt-InChecker_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .LMIOpt-InChecker_story .LMIOpt-InChecker_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .LMIOpt-InChecker_story {
        height: auto;
        padding: 0;
    }
    .lifestyle_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .lifestyle_story .lifestyle_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .lifestyle_story {
        height: auto;
        padding: 0;
    }
    .dataworks_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .dataworks_story .dataworks_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .dataworks_story {
        height: auto;
        padding: 0;
    }
    .onebrand_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .onebrand_story .onebrand_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .onebrand_story {
        height: auto;
        padding: 0;
    }
    .stopover_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .stopover_story .stopover_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .stopover_story {
        height: auto;
        padding: 0;
    }
    .inslideout_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .inslideout_story .inslideout_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .inslideout_story {
        height: auto;
        padding: 0;
    }
    .timesnaps_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .timesnaps_story .timesnaps_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .timesnaps_story {
        height: auto;
        padding: 0;
    }
    .babysitter_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .babysitter_story .babysitter_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .babysitter_story {
        height: auto;
        padding: 0;
    }
    .speedykey_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .speedykey_story .speedykey_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .speedykey_story {
        height: auto;
        padding: 0;
    }
    .storiesimg {
        padding-top: 3%;
    }
    .icbf_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .icbf_story .icbf_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .icbf_story {
        height: auto;
        padding: 0;
    }
    .bender_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .bender_story .bender_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .bender_story {
        height: auto;
        padding: 0;
    }
    .freebird_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .freebird_story .freebird_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .freebird_story {
        height: auto;
        padding: 0;
    }
    .veeaie_story {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #555;
        background: url(../appstories/appstory.jpeg) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .veeaie_story .veeaie_story-body {
        display: table-cell;
        vertical-align: middle;
    }
    .veeaie_story {
        height: auto;
        padding: 0;
    }

