span{ color:white; }

.container{position:absolute; margin-top:-105px; text-align:center;margin-left:180px; height:10px; width:1500px;}

.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
  color:white;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #DAA520;
  display: block;
  cursor: pointer;
  padding: 10% 0 10% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px #DAA520 solid;
}
.responsive-calendar .day.active a {
  background-color: #DAA520;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #DAA520;
}
.responsive-calendar .day.active .not-current {
  background-color: #DAA520;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #DAA520;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}