/* iphone, color code for particular apps ////////////////////////////// */
.PopupPaneliphoneMain {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#131212');
    background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#131212));
		background: -moz-linear-gradient(top,  #2c2c2c,  #131212);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneSt {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5647', endColorstr='#f2a943');
    background: -webkit-gradient(linear, left top, left bottom, from(#da5647), to(#f2a943));
    background: -moz-linear-gradient(top,  #da5647,  #f2a943);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneUnify {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80cf35', endColorstr='#56951a');
    background: -webkit-gradient(linear, left top, left bottom, from(#80cf35), to(#56951a));
    background: -moz-linear-gradient(top,  #80cf35,  #56951a);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneEskimos {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebd100', endColorstr='#fcbd4c');
    background: -webkit-gradient(linear, left top, left bottom, from(#ebd100), to(#fcbd4c));
    background: -moz-linear-gradient(top,  #ebd100,  #fcbd4c);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneEr {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbcbcb', endColorstr='#878787');
    background: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#878787));
    background: -moz-linear-gradient(top,  #cbcbcb,  #878787);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneEa {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#8c8c8c');
    background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#8c8c8c));
    background: -moz-linear-gradient(top,  #b5b5b5,  #8c8c8c);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneBor {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9179b7', endColorstr='#846ab4');
    background: -webkit-gradient(linear, left top, left bottom, from(#9179b7), to(#846ab4));
    background: -moz-linear-gradient(top,  #9179b7,  #846ab4);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneHypnosis {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2955e', endColorstr='#cd772a');
    background: -webkit-gradient(linear, left top, left bottom, from(#d2955e), to(#cd772a));
    background: -moz-linear-gradient(top,  #d2955e,  #cd772a);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneMfw {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#46b5ea', endColorstr='#1f96cd');
    background: -webkit-gradient(linear, left top, left bottom, from(#46b5ea), to(#1f96cd));
    background: -moz-linear-gradient(top,  #46b5ea,  #1f96cd);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneIcw {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3ebf9', endColorstr='#26abe4');
    background: -webkit-gradient(linear, left top, left bottom, from(#a3ebf9), to(#26abe4));
    background: -moz-linear-gradient(top,  #a3ebf9,  #26abe4);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneMybin {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71ce38', endColorstr='#529418');
    background: -webkit-gradient(linear, left top, left bottom, from(#71ce38), to(#529418));
    background: -moz-linear-gradient(top,  #71ce38,  #529418);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneVc {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b97c79', endColorstr='#a41f24');
    background: -webkit-gradient(linear, left top, left bottom, from(#b97c79), to(#a41f24));
    background: -moz-linear-gradient(top,  #b97c79,  #a41f24);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneBio {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a', endColorstr='#494949');
    background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#494949));
    background: -moz-linear-gradient(top,  #7a7a7a,  #494949);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneRen {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#4b4b4b');
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #666666,  #4b4b4b);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneMc {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb0401', endColorstr='#ac0300');
    background: -webkit-gradient(linear, left top, left bottom, from(#cb0401), to(#ac0300));
    background: -moz-linear-gradient(top,  #cb0401,  #ac0300);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneBb {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#525252');
    background: -webkit-gradient(linear, left top, left bottom, from(#676767), to(#525252));
    background: -moz-linear-gradient(top,  #676767,  #525252);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneSky {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a70a2', endColorstr='#105485');
    background: -webkit-gradient(linear, left top, left bottom, from(#2a70a2), to(#105485));
    background: -moz-linear-gradient(top,  #2a70a2,  #105485);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneTapHero{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518bce', endColorstr='#3d76b8');
    background: -webkit-gradient(linear, left top, left bottom, from(#518bce), to(#3d76b8));
    background: -moz-linear-gradient(top,  #518bce,  #3d76b8);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneJagota {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a70a2', endColorstr='#105485');
    background: -webkit-gradient(linear, left top, left bottom, from(#2a70a2), to(#105485));
    background: -moz-linear-gradient(top,  #2a70a2,  #105485);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneMbt {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#caaf94', endColorstr='#84572d');
    background: -webkit-gradient(linear, left top, left bottom, from(#caaf94), to(#84572d));
    background: -moz-linear-gradient(top,  #caaf94,  #84572d);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneLcc {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a70a2', endColorstr='#105485');
    background: -webkit-gradient(linear, left top, left bottom, from(#2a70a2), to(#105485));
    background: -moz-linear-gradient(top,  #2a70a2,  #105485);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneCind {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a48245', endColorstr='#84602e');
    background: -webkit-gradient(linear, left top, left bottom, from(#a48245), to(#84602e));
    background: -moz-linear-gradient(top,  #a48245,  #84602e);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneScrum {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a48245', endColorstr='#84602e');
    background: -webkit-gradient(linear, left top, left bottom, from(#a48245), to(#84602e));
    background: -moz-linear-gradient(top,  #a48245,  #84602e);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneCarleton {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b1ad', endColorstr='#000000');
    background: -webkit-gradient(linear, left top, left bottom, from(#b0b1ad), to(#000000));
    background: -moz-linear-gradient(top,  #b0b1ad,  #000000);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneSalmson {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#8b8b8b');
    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#8b8b8b));
    background: -moz-linear-gradient(top,  #9e9e9e,  #8b8b8b);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneRs {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b5b5b', endColorstr='#404040');
    background: -webkit-gradient(linear, left top, left bottom, from(#5b5b5b), to(#404040));
    background: -moz-linear-gradient(top,  #5b5b5b,  #404040);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneMr {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7bc6e', endColorstr='#e19e52');
    background: -webkit-gradient(linear, left top, left bottom, from(#e7bc6e), to(#e19e52));
    background: -moz-linear-gradient(top,  #e7bc6e,  #e19e52);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneSconti {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ed2f5', endColorstr='#0550a1');
    background: -webkit-gradient(linear, left top, left bottom, from(#8ed2f5), to(#0550a1));
    background: -moz-linear-gradient(top,  #8ed2f5,  #0550a1);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneTronder {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dabe5', endColorstr='#004f8b');
    background: -webkit-gradient(linear, left top, left bottom, from(#4dabe5), to(#004f8b));
    background: -moz-linear-gradient(top,  #4dabe5,  #004f8b);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneAlrroya {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a2a2', endColorstr='#707070');
    background: -webkit-gradient(linear, left top, left bottom, from(#a2a2a2), to(#707070));
    background: -moz-linear-gradient(top,  #a2a2a2,  #707070);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneApricube {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62748a', endColorstr='#4c5f77');
    background: -webkit-gradient(linear, left top, left bottom, from(#62748a), to(#4c5f77));
    background: -moz-linear-gradient(top,  #62748a,  #4c5f77);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneBookoo {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4e251', endColorstr='#51b129');
    background: -webkit-gradient(linear, left top, left bottom, from(#a4e251), to(#51b129));
    background: -moz-linear-gradient(top,  #a4e251,  #51b129);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneJencor {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cddd63', endColorstr='#96a531');
    background: -webkit-gradient(linear, left top, left bottom, from(#cddd63), to(#96a531));
    background: -moz-linear-gradient(top,  #cddd63,  #96a531);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneiBooking {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d11a1f', endColorstr='#841501');
    background: -webkit-gradient(linear, left top, left bottom, from(#d11a1f), to(#841501));
    background: -moz-linear-gradient(top,  #d11a1f,  #841501);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneXmas {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa6788', endColorstr='#e7073a');
    background: -webkit-gradient(linear, left top, left bottom, from(#fa6788), to(#e7073a));
    background: -moz-linear-gradient(top,  #fa6788,  #e7073a);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneNte {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#9d9e9e');
    background: -webkit-gradient(linear, left top, left bottom, from(#c8c8c8), to(#9d9e9e));
    background: -moz-linear-gradient(top,  #c8c8c8,  #9d9e9e);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneFf {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcac57', endColorstr='#ff7f00');
    background: -webkit-gradient(linear, left top, left bottom, from(#fcac57), to(#ff7f00));
    background: -moz-linear-gradient(top,  #fcac57,  #ff7f00);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphonePikit {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e839d3', endColorstr='#b226a1');
    background: -webkit-gradient(linear, left top, left bottom, from(#e839d3), to(#b226a1));
    background: -moz-linear-gradient(top,  #e839d3,  #b226a1);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneMyhome {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea952', endColorstr='#fe6e01');
    background: -webkit-gradient(linear, left top, left bottom, from(#fea952), to(#fe6e01));
    background: -moz-linear-gradient(top,  #fea952,  #fe6e01);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneImonchies {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5958', endColorstr='#7d7978');
    background: -webkit-gradient(linear, left top, left bottom, from(#5c5958), to(#7d7978));
    background: -moz-linear-gradient(top,  #5c5958,  #7d7978);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneWeave {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fcef3', endColorstr='#00abd7');
    background: -webkit-gradient(linear, left top, left bottom, from(#3fcef3), to(#00abd7));
    background: -moz-linear-gradient(top,  #3fcef3,  #00abd7);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneiShadow {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6c6c6', endColorstr='#a9a9a8');
    background: -webkit-gradient(linear, left top, left bottom, from(#c6c6c6), to(#a9a9a8));
    background: -moz-linear-gradient(top,  #c6c6c6,  #a9a9a8);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneRennes {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9e1fa', endColorstr='#8fd2fd');
    background: -webkit-gradient(linear, left top, left bottom, from(#b9e1fa), to(#8fd2fd));
    background: -moz-linear-gradient(top,  #b9e1fa,  #8fd2fd);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneFolloworks {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019aea', endColorstr='#0092e7');
    background: -webkit-gradient(linear, left top, left bottom, from(#019aea), to(#0092e7));
    background: -moz-linear-gradient(top,  #019aea,  #0092e7);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneHolberg {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8b8b8', endColorstr='#a5a5a5');
    background: -webkit-gradient(linear, left top, left bottom, from(#b8b8b8), to(#a5a5a5));
    background: -moz-linear-gradient(top,  #b8b8b8,  #a5a5a5);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneFanta {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fa9d2', endColorstr='#436fc0');
    background: -webkit-gradient(linear, left top, left bottom, from(#2fa9d2), to(#436fc0));
    background: -moz-linear-gradient(top,  #2fa9d2,  #436fc0);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneAustin {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfda95', endColorstr='#99a74d');
    background: -webkit-gradient(linear, left top, left bottom, from(#cfda95), to(#99a74d));
    background: -moz-linear-gradient(top,  #cfda95,  #99a74d);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphonePickMeUp {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fab51c', endColorstr='#f19005');
    background: -webkit-gradient(linear, left top, left bottom, from(#fab51c), to(#f19005));
    background: -moz-linear-gradient(top,  #fab51c,  #f19005);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphonejlife {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#838383', endColorstr='#6c6c6c');
    background: -webkit-gradient(linear, left top, left bottom, from(#838383), to(#6c6c6c));
		background: -moz-linear-gradient(top,  #838383,  #6c6c6c);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
/*/////////////////////////////////// android, color code for particular apps ////////////////////////////// */
.PopupPanelandroidMain {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#131212');
    background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#131212));
		background: -moz-linear-gradient(top,  #2c2c2c,  #131212);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidSt {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5647', endColorstr='#f2a943');
    background: -webkit-gradient(linear, left top, left bottom, from(#da5647), to(#f2a943));
    background: -moz-linear-gradient(top,  #da5647,  #f2a943);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidUnify {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80cf35', endColorstr='#56951a');
    background: -webkit-gradient(linear, left top, left bottom, from(#80cf35), to(#56951a));
    background: -moz-linear-gradient(top,  #80cf35,  #56951a);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidEr {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbcbcb', endColorstr='#878787');
    background: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#878787));
    background: -moz-linear-gradient(top,  #cbcbcb,  #878787);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidEa {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#8c8c8c');
    background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#8c8c8c));
    background: -moz-linear-gradient(top,  #b5b5b5,  #8c8c8c);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidHypnosis {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2955e', endColorstr='#cd772a');
    background: -webkit-gradient(linear, left top, left bottom, from(#d2955e), to(#cd772a));
    background: -moz-linear-gradient(top,  #d2955e,  #cd772a);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidMfw {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#46b5ea', endColorstr='#1f96cd');
    background: -webkit-gradient(linear, left top, left bottom, from(#46b5ea), to(#1f96cd));
    background: -moz-linear-gradient(top,  #46b5ea,  #1f96cd);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidIcw {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3ebf9', endColorstr='#26abe4');
    background: -webkit-gradient(linear, left top, left bottom, from(#a3ebf9), to(#26abe4));
    background: -moz-linear-gradient(top,  #a3ebf9,  #26abe4);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidMb {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71ce38', endColorstr='#529418');
    background: -webkit-gradient(linear, left top, left bottom, from(#71ce38), to(#529418));
    background: -moz-linear-gradient(top,  #71ce38,  #529418);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidJm{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6a6a6', endColorstr='#6d6d6d');
    background: -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#6d6d6d));
    background: -moz-linear-gradient(top,  #a6a6a6,  #6d6d6d);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidNordea{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a99c5', endColorstr='#2977a3');
    background: -webkit-gradient(linear, left top, left bottom, from(#5a99c5), to(#2977a3));
    background: -moz-linear-gradient(top,  #5a99c5,  #2977a3);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidMbt{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#caaf94', endColorstr='#84572d');
    background: -webkit-gradient(linear, left top, left bottom, from(#caaf94), to(#84572d));
    background: -moz-linear-gradient(top,  #caaf94,  #84572d);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidSalmson{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#8b8b8b');
    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#8b8b8b));
    background: -moz-linear-gradient(top,  #9e9e9e,  #8b8b8b);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidFlok{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fbffc', endColorstr='#878790');
    background: -webkit-gradient(linear, left top, left bottom, from(#2fbffc), to(#878790));
    background: -moz-linear-gradient(top,  #2fbffc,  #878790);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidTdt{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3', endColorstr='#b4b6c2');
    background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#b4b6c2));
    background: -moz-linear-gradient(top,  #c3c3c3,  #b4b6c2);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidCw{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3', endColorstr='#b4b6c2');
    background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#b4b6c2));
    background: -moz-linear-gradient(top,  #c3c3c3,  #b4b6c2);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidTaxilotse{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#606060');
    background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#606060));
    background: -moz-linear-gradient(top,  #606060,  #606060);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidAustinTree{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccd792', endColorstr='#9ca958');
    background: -webkit-gradient(linear, left top, left bottom, from(#ccd792), to(#9ca958));
    background: -moz-linear-gradient(top,  #ccd792,  #9ca958);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroidLetfarm{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aecda4', endColorstr='#589248');
    background: -webkit-gradient(linear, left top, left bottom, from(#aecda4), to(#589248));
    background: -moz-linear-gradient(top,  #aecda4,  #589248);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
/*/////////////////////////////////// blackberry, color code for particular apps ////////////////////////////// */
.PopupPanelblackberryMain {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#131212');
    background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#131212));
	background: -moz-linear-gradient(top,  #2c2c2c,  #131212);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelblackberrySt {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5647', endColorstr='#f2a943');
    background: -webkit-gradient(linear, left top, left bottom, from(#da5647), to(#f2a943));
    background: -moz-linear-gradient(top,  #da5647,  #f2a943);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelblackberryEr {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbcbcb', endColorstr='#878787');
    background: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#878787));
    background: -moz-linear-gradient(top,  #cbcbcb,  #878787);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelblackberryMfw {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#46b5ea', endColorstr='#1f96cd');
    background: -webkit-gradient(linear, left top, left bottom, from(#46b5ea), to(#1f96cd));
    background: -moz-linear-gradient(top,  #46b5ea,  #1f96cd);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelblackberryMbt {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#caaf94', endColorstr='#84572d');
    background: -webkit-gradient(linear, left top, left bottom, from(#caaf94), to(#84572d));
    background: -moz-linear-gradient(top,  #caaf94,  #84572d);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelblackberryCg {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbcbcb', endColorstr='#878787');
    background: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#878787));
    background: -moz-linear-gradient(top,  #cbcbcb,  #878787);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelblackberryMobgyn {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de69a4', endColorstr='#c34082');
    background: -webkit-gradient(linear, left top, left bottom, from(#de69a4), to(#c34082));
    background: -moz-linear-gradient(top,  #de69a4,  #c34082);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
/*/////////////////////////////////// windows, color code for particular apps ////////////////////////////// */
.PopupPanelwindowsMain {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#131212');
    background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#131212));
	background: -moz-linear-gradient(top,  #2c2c2c,  #131212);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelwindowsXen {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9c4f1', endColorstr='#1c3d74');
    background: -webkit-gradient(linear, left top, left bottom, from(#a9c4f1), to(#1c3d74));
	background: -moz-linear-gradient(top,  #a9c4f1,  #1c3d74);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphonePp {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efbf05', endColorstr='#cccccc');
    background: -webkit-gradient(linear, left top, left bottom, from(#efbf05), to(#cccccc));
    background: -moz-linear-gradient(top,  #efbf05,  #cccccc);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#ff000;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneAb {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#53c28d', endColorstr='#2cb773');
    background: -webkit-gradient(linear, left top, left bottom, from(#53c28d), to(#2cb773));
    background: -moz-linear-gradient(top,  #53c28d,  #2cb773);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneLl {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c011', endColorstr='#000000');
    background: -webkit-gradient(linear, left top, left bottom, from(#f9c011), to(#000000));
    background: -moz-linear-gradient(top,  #f9c011,  #000000);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneTmw {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6dd5cc', endColorstr='#3ab8a3');
    background: -webkit-gradient(linear, left top, left bottom, from(#6dd5cc), to(#3ab8a3));
    background: -moz-linear-gradient(top,  #6dd5cc,  #3ab8a3);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#f74f04;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneIml {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02ccfe', endColorstr='#116589');
    background: -webkit-gradient(linear, left top, left bottom, from(#02ccfe), to(#116589));
    background: -moz-linear-gradient(top,  #02ccfe,  #116589);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#00cafa;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphoneDf {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#656567', endColorstr='#414141');
    background: -webkit-gradient(linear, left top, left bottom, from(#656567), to(#414141));
    background: -moz-linear-gradient(top,  #656567,  #414141);
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
 	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#888888;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
