/* Left & Right alignment */

.left {
	float:left;
}
.right {
	float:right;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
/* Global properties ======================================================== */
.glob {
	width: 100%;
	height: 100%;
	position:absolute;
	overflow-x:hidden;
	overflow:-y:auto;
	z-index: 3;
}
body {
	font-family: mycustomfont;
	color:white;
	background: black;
	line-height:20px;
	min-width:65%;
	min-height:100%;
	position:fixed;
	width:100%;
	height:100%;
	overflow:hidden;
	display: inline-block;
	background-repeat:no-repeat;
}

@font-face {
 font-family: mycustomfont;
/* src: url(OpenSans-Regular.ttf) format("truetype");*/
   src: url(Quicksand-Regular.otf) format("truetype");
/*   src: url(Quicksand-Bold.otf) format("truetype");*/
}

/* Global Structure ========================================================= */
.main {
	margin:0px auto 0 auto;
	width: 950px;
	z-index:0;
	height:100%;
	
	
}

.pageheader{ 
	background:#25170e; 
	height:40px; 
	text-align:center;
	font-size: 30px; 
	padding-top:20px; 
	border-bottom: 1px; 
	border-bottom-color: #D6C1AB; 
	border-bottom-style:ridge; 
	border-top-left-radius:30px; 
	border-top-right-radius:30px; 
	-webkit-box-shadow: -8px 8px 6px -6px black;
	-moz-box-shadow: -8px 8px 6px -6px black;
	box-shadow: -8px 8px 6px -6px black; 
	-webkit-border-bottom: 1px; 
	-webkit-border-bottom-color: #D6C1AB; 
	-webkit-border-bottom-style:ridge; 
	-webkit-border-top-left-radius:30px; 
	-webkit-border-top-right-radius:30px;}
	
	
.pageheaderdetails{ 
	background:#25170e; 
	height:125px; 
	font-size: 35px; 
	padding-top:20px; 
	border-bottom: 1px; 
	border-bottom-color: #D6C1AB; 
	border-bottom-style:ridge; 
	border-top-left-radius:30px; 
	border-top-right-radius:30px; 
	-webkit-box-shadow: -8px 8px 6px -6px black;
	-moz-box-shadow: -8px 8px 6px -6px black;
	box-shadow: -8px 8px 6px -6px black; 
	-webkit-border-bottom: 1px; 
	-webkit-border-bottom-color: #D6C1AB; 
	-webkit-border-bottom-style:ridge; 
	-webkit-border-top-left-radius:30px; 
	-webkit-border-top-right-radius:30px;
	}
	
	
#header-text{
	margin-top:80px;
	margin-left:30%;
	position: absolute;
	
}

#header-logo{
	margin-left:8%;
	position: absolute;
}	
	

.contentcss{margin-left:60px; margin-right:60px; height:100%; width:88%; border-radius:30px; background:#3b2415; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); filter: alpha(opacity=85);-moz-opacity: 0.85;-khtml-opacity: 0.85;opacity: 0.85;}

.contentmarginbottom{margin-top:30px; margin-bottom:30px; margin-left:25%; margin-right:25%; border-bottom: 1px; border-bottom-color: #D6C1AB; border-bottom-style:dashed; width:50%}


/*.page_spinner {
	position:fixed;
	background:url(../images/loader.gif) 50% 50% no-repeat #000;
	z-index:99;
	width:100%;
	height:100%;
	top:0;
	left:0
}*/
#glob {
	position:absolute;
	overflow:hidden;
	z-index:1;
	width:100%;
	height:100%;
}
/* ============================= header =============font-family: 'Oswald', sans-serif;======================== */
header {
	position:absolute;
	width: 100%;
	height: 135px;
	z-index: 0;
	margin: 0 auto;
	float: left;
	margin-top: 188px;
	
}




/* ============================= content ====================== */
#content {
	position:relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	display: block;
	height: 100%;
	/*background: rgba(238, 175, 100, .2);*/
	background: rgba(255, 255, 255, 0);
	float: center;
}
.item1 {
	width: 911px;
	height: 955px;
	z-index: 8;
}
.item1 > img {
	width: 911px;
	height: 955px;
	position: absolute;
	top: -450px;
	left: -1200px;
}
.item2 {
	width: 280px;
	height: 280px;
	z-index: 7;
}
.item2 > img {
	width: 280px;
	height: 280px;
	position: absolute;
	top: 210px;
	left: -760px;
}
.item3 {
	width: 120px;
	height: 143px;
	z-index: 7;
}
.item3 > img {
	width: 120px;
	height: 143px;
	position: absolute;
	top: -360px;
	left: 450px;
}
.item4 {
	width: 500px;
	height: 532px;
	z-index: 7;
}
#appLogo{
	width:100%;
	text-align:left;
	margin-left: 20px;
}
#appText {
	
	font-size:16px;
	text-align:left;
	width:80%;
	margin-top: -120px;
	margin-left: 150px;
	
}
#appLogoText li {
	display:inline-block;
	list-style:none;
}

/*
#appLogobox{
	height:110px;
	width:30px;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:105px;
	background:#25170e; 
	border: 2px; 
	border-color:orange; 
	border-bottom-style:solid; 
	border-radius:30px;
	margin-left: 20px;
	border-style: solid;
}


#appText {
	
	font-size:18px;
	text-align:left;
	width:75%;
	margin-top: -130px;
	margin-left: 150px;
	
}
*/

h1{
	text-decoration:underline;
	font-size:21px;
}
#screenShots {
	margin-top:30px;
	width:55%;
	margin-left:200px;
	margin-right:200px;
	display:block;
	white-space:nowrap;
	overflow-x:auto;

}


#screenShots img {
	display:inline-block;
	padding:5px;
}
.item4 > img {
	width: 500px;
	height: 532px;
	position: absolute;
	top: -110px;
	left: 350px;
}
.item5 {
	width: 120px;
	height: 140px;
	z-index: 7;
}
.item5 > img {
	width: 120px;
	height: 140px;
	position: absolute;
	top: -360px;
	left: -360px;
}
.item6 {
	width: 120px;
	height: 80px;
	z-index: 7;
}
.item6 > img {
	width: 120px;
	height: 80px;
	position: absolute;
	top: -280px;
	left: -60px;
}
.item7 {
	width: 500px;
	height: 312px;
	z-index: 1;
}
.item7 > img {
	width: 500px;
	height: 312px;
	position: absolute;
	top: 190px;
	left: -350px;
}
.item8 {
	width: 120px;
	height: 120px;
	z-index: 0;
}
.item8 > img {
	width: 120px;
	height: 120px;
	position: absolute;
	top: -310px;
	left: 190px;
}
.test {
	position: absolute;
	display: inline-block;
	z-index: 3;
	border: 1px solid #fff;
	width: 1000px;
	height: 500px;
}
/* ============================= footer ====================== */
footer {
	position: absolute;
	width: 100%;
	z-index: 1;
	height: 5%;
	display: inline-block;
	bottom: 5px;
	float: right;
	color:#fff;
	text-align:center;
}
.mainFooter {
	z-index:50;
	text-align: center;
}
.mainFooter span {
	margin-right:40px;
}
/* ============================= menu ============================= */
#menu {
	z-index:1000000;
	position:fixed;
	display: inline-block;
	float: right;
	padding-right:0px;/*	background: url(../images/bg1.png);*/
}
.space {
	height:15px;
}

ul li {
	padding:8px;
}
 ul li:hover {
	opacity:0.9;
	background-color:#b66918;
	border-radius:10px;
}

 ul li {
    display: block;
    float: left;
}
 li:hover ul {
    display: block; 
    position: absolute;
    left:0px;
    border-radius:10px;
} 
 li:hover li {
    float: left;
    font-size: 15px;
    border-radius:10px;
}

/*
#aboutus:hover {
	-moz-transform: translate(0, 0.4em) rotate(5deg);
	-webkit-transform: translate(0, 0.4em) rotate(5deg);
}
#portfolio:hover {
	-moz-transform: translate(0, 0.4em) rotate(2deg);
	-webkit-transform: translate(0, 0.4em) rotate(2deg);
}
#ourteam:hover {
	-moz-transform: translate(0, 0.4em) rotate(-2deg);
	-webkit-transform: translate(0, 0.4em) rotate(-2deg);
}
#contactus:hover {
	-moz-transform: translate(0, 0.4em) rotate(3deg);
	-webkit-transform: translate(0, 0.4em) rotate(3deg);
}
#careers:hover {
	-moz-transform: translate(0, 0.4em) rotate(-2deg);
	-webkit-transform: translate(0, 0.4em) rotate(-2deg);
}
#work:hover {
	-moz-transform: translate(0, 0.4em) rotate(3deg);
	-webkit-transform: translate(0, 0.4em) rotate(3deg);
}
#blog:hover {
	-moz-transform: translate(0, 0.4em) rotate(3deg);
	-webkit-transform: translate(0, 0.4em) rotate(3deg);
}
#advantage:hover {
	-moz-transform: translate(0, 0.4em) rotate(3deg);
	-webkit-transform: translate(0, 0.4em) rotate(3deg);
}

*/
#portfolio.hover, #portfolio:hover {
	position: relative;
	margin:0;
	z-index: 190599;
	border-radius:10px;
}

#portfolio ul {
	visibility: hidden;
	position: absolute;
	/*left: 194px;*/
	right:120px;
	margin-top:10px;
	border-radius:10px;
}
#portfolio:hover > ul {
	visibility: visible;
	border-radius:10px;
}
#cloud {
	background-image:url(home_back.png);
	background-repeat:no-repeat;
	height:120px;
	background-size: 100%;
}

/*  for iPhone icons*/
.iphoneIconDiv {
	height:400px;
	text-align:center;
	overflow:hidden;
	position:absolute;
	width:80%;
	z-index:480;
	margin-left:40px;
	margin-top:40px;
}
.iphoneIconDiv div {
	display:inline-block;
	overflow:hidden;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:33px;
}
.iphoneIcon {
	cursor:pointer;
}
/*  for android icons*/
.androidIconDiv {
	height:400px;
	text-align:center;
	overflow:hidden;
	position:absolute;
	width:80%;
	z-index:480;
	margin-left:40px;
	margin-top:40px;
}
.androidIconDiv div {
	display:inline-block;
	overflow:hidden;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:33px;
}
.androidIcon {
	cursor:pointer;
}
/*  for blackberry icons*/
.blackberryIconDiv {
	height:400px;
	text-align:center;
	overflow:hidden;
	position:absolute;
	width:80%;
	z-index:480;
	margin-left:40px;
	margin-top:40px;
}
.blackberryIconDiv div {
	display:inline-block;
	overflow:hidden;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:33px;
}
.blackberryIcon {
	cursor:pointer;
}
/*  for apps on store  */

.appsOnStoreDiv {
	height:400px;
	text-align:center;
	overflow:hidden;
	position:absolute;
	width:80%;
	z-index:480;
	margin-left:41px;
	margin-top:5px;
}


.appsOnStoreDiv div {
	display:inline-block;
	overflow:hidden;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:33px;
}
.appsOnStoreDiv img {
	border:solid 2px #ffffff;
}

.ourteamDiv {
	height:400px;
	text-align:center;
	overflow:hidden;
	position:absolute;
	width:91%;
	z-index:480;
	margin-left:71px;
	margin-top:5px;
}


.ourteamDiv div {
	display:inline-block;
	overflow:hidden;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:33px;
}
.ourteamDiv img {
	border:solid 2px #ffffff;
}

.ourteamDiv1 {
	height:500px;
	text-align:center;
	overflow:hidden;
	position:absolute;
	width:91%;
	z-index:480;
	margin-left:71px;
	margin-top:20px;
}


.ourteamDiv1 div {
	display:inline-block;
	overflow:hidden;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:33px;
}
.ourteamDiv1 img {
	border:solid 2px #ffffff;
}

#contentdivwrap {

}
#headtext {
	padding-top:20px;
	width:100%;
	margin-left:-250px;
}
#apps{
padding-left:110px;
}
#logo {
	width:180px;
	float:left;
	height:80px;
	margin-left:90px;
}

.iconbackground {
	width:200px;
	height:200px;
	background-color:#999999;
	border-radius:67px 0 67px 0;
	-moz-border-radius:67px 0 67px 0;
	/*-webkit-border-radius:0 67px 0 67px;*/
	-webkit-mask-image:url(mask1.png);
}
.iconbackground2 {
	width:200px;
	height:200px;
	background-color:#999999;
	-moz-border-radius:0 67px 0 67px;
	/*-webkit-border-radius:67px 0 67px 0;*/
	border-radius:0 67px 0 67px;
	-webkit-mask-image:url(mask2.png);
}

#icons {
	background-color:#fff;
	bottom:0;
	padding-bottom:10px;
	text-align:center;
	width:100%;
}
#icons ul li {
	display:inline-block;
}
#contentdiv div {
	display:inline-block;
	overflow:hidden;
}
/*#contentdiv div span{
background:url(magnifier.png);
	width:91px;
	height:91px;
	position:absolute;
}*/
#contentdiv div .img {
	position:relative;
	top:-8px;
	-moz-animation-name: imageSlide2;
	-moz-animation-duration: 0.5s;
	/*-moz-animation-timing-function: ease;*/
	-moz-animation-iteration-count: 1;
	-webkit-animation-name: imageSlide2;
	-webkit-animation-duration: 0.5s;
	/*-moz-animation-timing-function: ease;*/
	-webkit-animation-iteration-count: 1;
}
#contentdiv div .img:hover {
	position:relative;
	top:-220px;
}
#contentdiv div .img:hover {
	-moz-animation-name: imageSlide;
	-moz-animation-duration: 0.5s;
	/*-moz-animation-timing-function: ease;*/
	-moz-animation-iteration-count: 1;
	-webkit-animation-name: imageSlide;
	-webkit-animation-duration: 0.5s;
	/*-moz-animation-timing-function: ease;*/
	-webkit-animation-iteration-count: 1;
	position:relative;
}
 @-moz-keyframes imageSlide {
 0% {
 top: 0px;
}
100% {
 top: -220px;
}
}
 @-moz-keyframes imageSlide2 {
 0% {
 top: -220px;
}
100% {
 top: 0px;
}
}
 @-webkit-keyframes imageSlide {
 0% {
 top: 0px;
}
100% {
 top: -220px;
}
}
 @-webkit-keyframes imageSlide2 {
 0% {
 top: -220px;
}
100% {
 top: -8px;
}
}
/* scroll content*/
.PopupPanel {
	border: solid 6px #999999;
	position: absolute;
	left: 50%;
	top: 50%;
	/*background-color: #593822;*/
	background-image:url(quotepagebackground.jpg);
	background-repeat:repeat-x;
	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#666666;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
	font-size:18px;
}

#aboutUsContent, #contactUsContent, #ourTeamContent{
	overflow:hidden;
	height: 500px;
	width: 800px;
	text-align:left;
}
.PopupPanelourteam {
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #371c45;
	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelcontactus {
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #c8d203;
	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPaneliphone {
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat:repeat-y;
/*	background-color: #593822;
*/	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelandroid {
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #593822;
	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelblackberry {
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #593822;
	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.PopupPanelwindows {
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #593822;
	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.close {
	background-image:url(close.png);
	background-repeat:no-repeat;
	position:absolute;
	width:50px;
	height:50px;
	float:right;
	right:-25px;
	top:-25px;
}
.close:hover {
	background-image:url(close_select.png);
	background-repeat:no-repeat;
	position:absolute;
	width:50px;
	height:50px;
	float:right;
	right:-25px;
	top:-25px;
}
#closeiphone {
	background-image:url(close.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	float:right;
	margin-right:0px;
	margin-top:0px;
}
#closeiphone:hover {
	background-image:url(close_select.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	float:right;
	margin-right:0px;
	margin-top:0px;
}
#closeandroid {
	background-image:url(close.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	float:right;
	margin-right:0px;
	margin-top:0px;
}
#closeandroid:hover {
	background-image:url(close_select.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	float:right;
	margin-right:0px;
	margin-top:0px;
}
#closeblackberry {
	background-image:url(close.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	float:right;
	margin-right:0px;
	margin-top:0px;
}
#closeblackberry:hover {
	background-image:url(close_select.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	float:right;
	margin-right:0px;
	margin-top:0px;
}
#closewindows {
	background-image:url(close.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	float:right;
	margin-right:0px;
	margin-top:0px;
}
#closewindows:hover {
	background-image:url(close_select.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	float:right;
	margin-right:0px;
	margin-top:0px;
}
#imageHolder {
	width:100%;
	height:100%;
	top:0;
}
/*////////////////////////////////////////////*/
/*second set of icons*/
#contentdivv {
	height:200px;
	text-align:center;
	overflow:hidden;
	position:absolute;
	width:100%;
	top:200px;
	z-index:400;
	left:0.5%;
}
#contentdivv div {
	display:inline-block;
	overflow:hidden;
	z-index:500;
}
#contentdivv div .img {
	position:relative;
	top:-8px;
	-moz-animation-name: imageSlide2;
	-moz-animation-duration: 0.5s;
	/*-moz-animation-timing-function: ease;*/
	-moz-animation-iteration-count: 1;
	-webkit-animation-name: imageSlide2;
	-webkit-animation-duration: 0.5s;
	/*-moz-animation-timing-function: ease;*/
	-webkit-animation-iteration-count: 1;
}
#contentdivv div .img:hover {
	position:relative;
	top:-220px;
}
#contentdivv div .img:hover {
	-moz-animation-name: imageSlide;
	-moz-animation-duration: 0.5s;
	/*-moz-animation-timing-function: ease;*/
	-moz-animation-iteration-count: 1;
	-webkit-animation-name: imageSlide;
	-webkit-animation-duration: 0.5s;
	/*-moz-animation-timing-function: ease;*/
	-webkit-animation-iteration-count: 1;
	position:relative;
}

#contentdiv {
	height:200px;
	text-align:center;
	overflow:hidden;
	position:absolute;
	width:100%;
	top:200px;
	z-index:400;
	left:0.5%;
}
/*next 
ious btn for icons*/

#appdetailsprev {
	text-align:center; 
	position:absolute;
	float:left;
	top:210px;
	z-index:1000;
	left:6.7%;
}
#appdetailsprev:hover {
	background-color:#25170e;
	border-radius:30px;
}
#appdetailsnext {
	text-align:center;
	position:absolute;
	float:right;
	top:210px;
	z-index:1000;
	right:6.5%;
}
#appdetailsnext:hover {
	background-color:#25170e;
	border-radius:30px;
}


#previous {
	background-color:#ffa800;
	position:absolute;
	float:left;
	width:50px;
	height:50px;
	top:280px;
	z-index:1000;
	left:1.5%;
	border-radius:250px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
#previous:hover {
	background-color:yellow;
}
#nextb {
	background-color:#ffa800;
	position:absolute;
	float:right;
	width:50px;
	height:50px;
	top:280px;
	z-index:1000;
	right:0.8%;
	border-radius:250px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
#nextb:hover {
	background-color:yellow;
}

#prev {
	background-color:#ffa800;
	position:absolute;
	float:left;
	width:50px;
	height:50px;
	top:450px;
	z-index:1000;
	left:10%;
	border-radius:25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
#prev:hover {
	background-color:yellow;
}
#next {
	background-color:#ffa800;
	position:absolute;
	float:right;
	width:50px;
	height:50px;
	top:450px;
	z-index:1000;
	right:10%;
	border-radius:25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
#next:hover {
	background-color:yellow;
}

#prev1 {
	background-color:#ffa800;
	position:absolute;
	float:left;
	width:50px;
	height:50px;
	top:400px;
	z-index:1000;
	left:7.8%;
	border-radius:25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
#prev1:hover {
	background-color:yellow;
}
#next1 {
	background-color:#ffa800;
	position:absolute;
	float:right;
	width:50px;
	height:50px;
	top:400px;
	z-index:1000;
	right:7%;
	border-radius:25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
#next1:hover {
	background-color:yellow;
}

#prev2 {
	background-color:#ffa800;
	position:absolute;
	float:left;
	width:50px;
	height:50px;
	top:540px;
	z-index:1000;
	left:28%;
	border-radius:25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
#prev2:hover {
	background-color:yellow;
}
#next2 {
	background-color:#ffa800;
	position:absolute;
	float:right;
	width:50px;
	height:50px;
	top:540px;
	z-index:1000;
	right:22%;
	border-radius:25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
#next2:hover {
	background-color:yellow;
}

/*//////////////////////////////////////  for iphone /////////////////////////////////////////////*/
#iphoneicons {
	position:absolute;
	width:800px;
	height:474px;
	top:30px;
	/*left:34px;*/
	color:#000;
	font-size:6px;
	font-weight:bold;
	overflow:hidden;
}
.deviceiphone{
background-image:url(iphonebg.png);
background-repeat:no-repeat;
position:absolute;
top:5px;
left:15px;
width:252px;
height:490px;
}
.deviceiphoneland{
background-image:url(iphonebgland.png);
background-repeat:no-repeat;
position:absolute;
top:110px;
left:5px;
width:490px;
height:252px;
}
.link {

color:#FFFFFF;

}


.link a {
text-decoration:none;
color:#FFFFFF;

}

.link1 {
color:#FFFFFF;
background:#25170e;
border-radius:10px;
-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}


.link1 a {
text-decoration:none;
color:#FFFFFF;
z-index:1900000;
}

.link2 {
color:#FFFFFF;
background:#25170e;
border-radius:10px;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
height:100%;
width:250px;	        
}


.link2 a {
text-decoration:none;
color:#FFFFFF;
z-index:1900000;
}

#portfolio a {
text-decoration:none;
color:#FFFFFF;
z-index:1900000;
}
.iconlink {
	text-align:center;
	width:110px;
	height:110px;
	padding:16px;
	display:inline-block;
	font-size:9px;
	overflow:hidden;
}
#iphoneicons img:hover {
	opacity:0.8;
}
#scrollcontentbackground {
	position:absolute;
	background-color:#000000;
	opacity:0.7;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:200;
}


.iconPopupPanel{
	border: solid 1px #fff;
	position: absolute;
	left: 33px;
	top: 90px;
	z-index: 500;
	height:323px;
	width: 216px;
	color:#000000;
	overflow:hidden;
	background-color:#fff;
}
.iconPopupPanelland{
	border: solid 1px #fff;
	position: absolute;
	left: 89px;
	top: 127px;
	z-index: 500;
	height:216px;
	width: 323px;
	color:#000000;
	overflow:hidden;
	background-color:#fff;
}

/*slide show*/

.slideshow { 
    position: relative; 
    width: 620px; 
    height: 466px; 
}

.slideshow > div { 
    position: absolute; 
}

/*scrolling image close button*/

.closescreenshot a{
position:absolute;
	width:20px;
	height:20px;
	top:0;
	right:0;
	z-index:1500;
	background-color:#CCCCCC;
	padding:10px 9px 10px 6px;
	text-decoration:none;
	border-radius:0 0 0 15px;
	color:#333333; 
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
	text-align:center;
}
.closescreenshot a:hover{
background-color:#666666;
color:#FFFFFF;
}
#previousimage a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:left;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	left:0px;
	border-radius: 0 10px 10px 0;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#previousimage a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
#nextimage a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:right;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	right:0px;
	border-radius: 10px 0 0 10px;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#nextimage a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
.iphonetext{
width:500px;
height:470px;
position:absolute;
top:20px;
right:10px;
font-size:1.2em;
}
.iphonetext div{
	padding-top:25px;
	font-style:italic;
	text-align:left;
	font-weight:bold;
	color:#333333;
}
.iphonetext span{
	color:#FFFFFF;
	font-size:1.0em;
	font-style:normal;
	padding-left:15px;
	font-weight:normal;
}
.iphonetext div:first-child{
	text-align:center;
	color:#fff;
	padding-top:0px;
	font-style:normal;
}
/*/////////////////////////////////////// for Android ////////////////////////////////////////////////////////*/
#androidicons {
	text-align:center;
	position:absolute;
	width:800px;
	height:474px;
	top:30px;
	/*left:34px;*/
	color:#000;
	font-size:6px;
	font-weight:bold;
	overflow:hidden;
}
.deviceandroid{
background-image:url(androidbg.png);
background-repeat:no-repeat;
position:absolute;
top:9px;
left:20px;
width:244px;
height:484px;
}
.iconlinkAndroid {
	text-align:center;
	width:110px;
	height:110px;
	padding:16px;
	display:inline-block;
	font-size:9px;
	overflow:hidden;
}
.deviceandroidland{
background-image:url(androidbgland.png);
background-repeat:no-repeat;
position:absolute;
top:110px;
left:7px;
width:484px;
height:244px;
}

#androidicons img:hover {
	opacity:0.8;
}

#previousimageAndroid a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:left;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	left:0px;
	border-radius: 0 10px 10px 0;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#previousimageAndroid a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
#nextimageAndroid a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:right;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	right:0px;
	border-radius: 10px 0 0 10px;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#nextimageAndroid a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
.iconPopupPanelAndroid{
	border: solid 1px #fff;
	position: absolute;
	left: 39px;
	top: 61px;
	z-index: 500;
	height: 338px;
	width: 203px;
	color:#000000;
	overflow:hidden;
	background-color:#666666;
}
.iconPopupPanelAndroidland{
	border: solid 1px #fff;
	position: absolute;
	left: 58px;
	top: 130px;
	z-index: 500;
	height: 203px;
	width: 338px;
	color:#000000;
	overflow:hidden;
	background-color:#666666;
}
/* android app text */

.androidtext{
width:500px;
height:470px;
position:absolute;
top:20px;
right:10px;
font-size:1.2em;
}
.androidtext div{
	padding-top:25px;
	font-style:italic;
	text-align:left;
	font-weight:bold;
	color:#333333;
}
.androidtext span{
	color:#FFFFFF;
	font-size:1.0em;
	font-style:normal;
	padding-left:15px;
	font-weight:normal;
}
.androidtext div:first-child{
	text-align:center;
	color:#fff;
	padding-top:0px;
	font-style:normal;
}
/*/////////////////////////////////////// for Blackberry ////////////////////////////////////////////////////////*/
#blackberryicons {
	text-align:center;
	position:absolute;
	width:800px;
	height:474px;
	top:30px;
	/*left:34px;*/
	color:#000;
	font-size:6px;
	font-weight:bold;
	overflow:hidden;
}
.iconlinkBlackberry {
	text-align:center;
	width:110px;
	height:110px;
	padding:16px;
	display:inline-block;
	font-size:9px;
	overflow:hidden;
}
.deviceblackberry{
background-image:url(blackberrybg.png);
background-repeat:no-repeat;
position:absolute;
top:9px;
left:15px;
width:271px;
height:483px;
}
.deviceblackberryland{
background-image:url(blackberrybgland.png);
background-repeat:no-repeat;
position:absolute;
top:100px;
left:15px;
width:483px;
height:271px;
}
#blackberryicons img:hover {
	opacity:0.8;
}
.iconPopupPanelBlackberry{
	border: solid 1px #fff;
	position: absolute;
	top:88px;
	left:35px;
	z-index: 500;
	height: 297px;
	width: 228px;
	color:#000000;
	overflow:hidden;
	background-color:#666666;
}
.iconPopupPanelBlackberryland{
	border: solid 1px #fff;
	position: absolute;
	top:121px;
	left:95px;
	z-index: 500;
	height: 228px;
	width: 297px;
	color:#000000;
	overflow:hidden;
	background-color:#666666;
}
#previousimageBlackberry a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:left;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	left:0px;
	border-radius: 0 10px 10px 0;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#previousimageBlackberry a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
#nextimageBlackberry a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:right;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	right:0px;
	border-radius: 10px 0 0 10px;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#nextimageBlackberry a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
/* blackberry app text */

.blackberrytext{
width:500px;
height:470px;
position:absolute;
top:20px;
right:10px;
font-size:1.2em;
}
.blackberrytext div{
	padding-top:25px;
	font-style:italic;
	text-align:left;
	font-weight:bold;
	color:#333333;
}
.blackberrytext span{
	color:#FFFFFF;
	font-size:1.0em;
	font-style:normal;
	padding-left:15px;
	font-weight:normal;
}
.blackberrytext div:first-child{
	text-align:center;
	color:#fff;
	padding-top:0px;
	font-style:normal;
}
/*///////////////////////////////////////////// for Windows ////////////////////////////////////////////////////////*/
#windowsicons {
	text-align:center;
	position:absolute;
	width:800px;
	height:474px;
	top:30px;
	/*left:34px;*/
	color:#000;
	font-size:6px;
	font-weight:bold;
	overflow:hidden;
}
.iconlinkWindows {
	text-align:center;
	width:110px;
	height:110px;
	padding:16px;
	display:inline-block;
	font-size:9px;
	overflow:hidden;
}
.devicewindows{
background-image:url(windowsbg.png);
background-repeat:no-repeat;
position:absolute;
top:9px;
left:15px;
width:246px;
height:484px;
}
.devicewindowsland{
background-image:url(windowsbgland.png);
background-repeat:no-repeat;
position:absolute;
top:110px;
left:15px;
width:484px;
height:246px;
}

#windowsicons img:hover {
	opacity:0.8;
}
.iconPopupPanelWindows{
	border: solid 1px #fff;
	position: absolute;
	left: 36px;
	top: 71px;
	z-index: 500;
	height: 333px;
	width: 203px;
	color:#000000;
	overflow:hidden;
	background-color:#666666;
}
.iconPopupPanelWindowsland{
	border: solid 1px #fff;
	position: absolute;
	left: 76px;
	top: 129px;
	z-index: 500;
	height: 203px;
	width: 333px;
	color:#000000;
	overflow:hidden;
	background-color:#666666;
}
#previousimageWindows a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:left;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	left:0px;
	border-radius: 0 10px 10px 0;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#previousimageWindows a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
#nextimageWindows a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:right;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	right:0px;
	border-radius: 10px 0 0 10px;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#nextimageWindows a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
/* windows app text */

.windowstext{
width:500px;
height:470px;
position:absolute;
top:20px;
right:10px;
font-size:1.2em;
}
.windowstext div{
	padding-top:25px;
	font-style:italic;
	text-align:left;
	font-weight:bold;
	color:#333333;
}
.windowstext span{
	color:#FFFFFF;
	font-size:1.0em;
	font-style:normal;
	padding-left:15px;
	font-weight:normal;
}
.windowstext div:first-child{
	text-align:center;
	color:#fff;
	padding-top:0px;
	font-style:normal;
}
/*//////////////////////////////////////////////// request a quote /////////////////////////////////////////////////*/
#quote{
position:absolute;
z-index:3000;
left:0px;
top:150px;
}

.leftbox{
	text-align:right;
	padding-right:6px;
	width:50%;
	padding-top:9px;
	font-size:1.1em;
}
.rightbox{
	text-align:left;
	color: #284f7f;
	padding-left:6px;
	background-image:url(textbox.png);
	background-repeat:no-repeat;
	width:300px;
	height:39px;
	padding-top:5px;
	color:#999999;
	font-size:1.1em;
}
.rightbox2{
	text-align:left;
	padding-top:5px;
	padding-left:6px;
	font-size:0.7em;
}
.rightbox2 li{
	list-style:none;
	display:inline-block;
}
.PopupPanel table{
	margin-top:20px;
}
.PopupPanel table span{
	color:#c96d00;
	font-weight:bold;
}
.PopupPanel input{
	color:#999999;
	font-size:0.7em;
	background:transparent;
}
#moredetails{
	color:#c96d00;
	text-align:center;
	text-decoration:underline;
	padding-bottom:11px;
	padding-top:11px;
	font-size:1.2em;
	height:50px;
}
#page_quote{
	font-size:1.3em;
}
.yes{
	background-image:url(radio_on.png);
	background-repeat:no-repeat;
	width:29px;
	height:29px;
}
.no{
	background-image:url(radio_off.png);
	background-repeat:no-repeat;
	width:29px;
	height:29px;
}
#selectlabel{
	width:247px;
	height:41px;
	background-image:url(select.png);
	background-repeat:no-repeat;
	text-align:left;
	color:#999999;
}
#selectlabel:hover {
	opacity:0.8;
}
.select a{
	text-decoration:none;
}
.select{
	text-align:left;
}
#budgettext{
	height:41px;
	padding-left:10px;
	padding-top:8px;
	font-size:0.8em;
	color:#666666;
}
#selecttext{
	position:absolute;
	background-color:#cccccc;
	width:232px;
	height:80px;
	border:#999999 1px solid;
	margin-left:6px;
	margin-top:-4px;
	z-index:50;
	font-size:1.4em;
}
#selecttext a{
	text-decoration:none;
	color:#333333;
}
#selecttext li:hover{
	color:#c96d00;
}
#selecttext li{
	list-style:none;
	font-size:0.6em;
	padding:3px;
}
.PopupPanel h1{
	font-size:0.8em;
}
.iconsetarrowleft{
	background-color:#fff;
	position:absolute;
	float:left;
	width:50px;
	height:50px;
	top:800px;
	z-index:1000;
	left:2px;
	border-radius:25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
.iconsetarrowleft:hover{
	background-color:#666666;
}
.iconsetarrowright{
	background-color:#fff;
	position:absolute;
	float:right;
	width:50px;
	height:50px;
	top:800px;
	z-index:1000;
	right:1px;
	border-radius:25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
.iconsetarrowright:hover{
	background-color:#666666;
}
.iconset2{
	position:absolute;
	width:800px;
	height:474px;
	top:0px;
	overflow:hidden;
}
.iconset1{
	position:absolute;
	width:800px;
	height:474px;
	top:0px;
	overflow:hidden;
}
.iconset3{
	position:absolute;
	width:800px;
	height:474px;
	top:0px;
	overflow:hidden;
}
.iconset4{
	position:absolute;
	width:800px;
	height:474px;
	top:0px;
	overflow:hidden;
}
.upload{
	background-image:url(upload.png);
  	background-repeat:no-repeat;
  	width:61px;
  	height:85px;
	text-align:left;
	padding-top:5px;
	padding-left:0px;
}
/* designing input */
.file-wrapper {
	width:247px;
  	height:41px;
  	cursor: pointer;
  	display: inline-block;
  	overflow: hidden;
  	position: relative;
}
.file-wrapper input {
  	cursor: pointer;
  	font-size: 100px;
  	height: 100%;
  	filter: alpha(opacity=1);
  	-moz-opacity: 0.01;
  	opacity: 0.01;
  	position: absolute;
  	left:0;
}
.file-wrapper .button {

  	color: #284f7f;
  	cursor: pointer;
  	display: inline-block;
  	font-size: 1em;
  	font-weight:normal;
  	padding-left:10px;
  	padding-top:4px;
  	width:100%;
	height:20px;
	overflow:hidden;
}
.file-wrapper:hover{
	opacity:0.8;
}
#send{
	background-image:url(send.png);
	background-repeat:no-repeat;
	width:114px;
	height:41px;
	padding-top:10px;
	cursor: pointer;
	cursor: hand;
	margin-left: 130px;
}
#send a{
	text-decoration:none;
	color:#666666;
	font-size:1.2em;
}
#send:hover{
	opacity:0.8;
}

/* other csss */


.parallax-viewport {
    position: absolute; 
    overflow: hidden;

}
.parallax-layer {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 50%;
    top: 50%;
}
#target{
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
}

/* About Us text */
#aboutUsContent div:first-child{
	color:#FFFFFF;
	font-size:1.4em;
	text-align:center;
	margin-bottom:14px;
}
#aboutUsContent p{
	margin-top:10px;
	font-size:0.8em;
}
#aboutUsContent p:first-letter {
	font-size: 1.8em;
}
#aboutUsContent h2{
	margin-top:15px;
	margin-bottom:15px;
	font-size:1.2em;
}
#aboutUsContent li{
	font-size:0.8em;
	margin-bottom:6px;
	margin-top:6px;
}
.PopupPanelAboutUs {
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #e4e4e4;
	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.iconPopupPanelOurteam{
	border: solid 1px #fff;
	position: absolute;
	left: 100px;
	top: 50px;
	z-index: 500;
	height: 380px;
	width: 600px;
	color:#000000;
	overflow:hidden;
	background-color:#666666;
}
#previousimageOurteam a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:left;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	left:0px;
	border-radius: 0 10px 10px 0;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#previousimageOurteam a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
#nextimageOurteam a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:right;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	right:0px;
	border-radius: 10px 0 0 10px;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#nextimageOurteam a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
#ourteamheading{
	text-align:center;
	margin-top:15px;
	font-size:1.3em;
}
#facebook{
	position:absolute;
	top:360px;
	left:290px;
	z-index:10;
}
#topofthestore{
	position:absolute;
	left:30px;
	bottom:0;
	z-index:3000;
	text-align:left;
}
.facebook {
	position:absolute;
	top:10px;
	right:1px;
	z-index:5;
}
.twitter {
	position:absolute;
	top:10px;
	right:34px;
	z-index:5;
}

.linkedin {
	position:absolute;
	top:10px;
	right:55px;
	z-index:5;
}
#ribbontext{
position:absolute;
bottom:85px;
z-index:200;
text-align:left;
left:3px;
}
#video{
	position:absolute;
	right:30px;
	bottom:0;
	z-index:3000;
	text-align:right;
}
#videotext{
position:absolute;
bottom:60px;
right:20px;
z-index:200;
text-align:right;
}

/*/ TOP OF THE STORE*/


.PopupPaneltopofthestore{
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #371c45;
	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
.iconPopupPaneltopofthestore{
	border: solid 1px #fff;
	position: absolute;
	left: 100px;
	top: 50px;
	z-index: 500;
	height: 380px;
	width: 600px;
	color:#000000;
	overflow:hidden;
	background-color:#666666;
}
#previousimagetopofthestore a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:left;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	left:0px;
	border-radius: 0 10px 10px 0;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#previousimagetopofthestore a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
#nextimagetopofthestore a{
	background-color:#fff;
	color:#333333;
	position:absolute;
	float:right;
	width:60px;
	height:30px;
	top:50%;
	z-index:2000;
	right:0px;
	border-radius: 10px 0 0 10px;
	font-size:18px;
	font-weight:bold;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	text-align:center;
	text-decoration:none;
	padding-top:6px;
}
#nextimagetopofthestore a:hover{
	background-color:#666666;
	color:#FFFFFF;
}
#topofthestoreheading{
	text-align:center;
	margin-top:15px;
	font-size:1.3em;
}
/* video */

.PopupPanelvideo {
	border: solid 6px #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #e4e4e4;
	z-index: 300;
	height: 500px;
	margin-top: -250px;
	width: 800px;
	margin-left: 1700px;
	color:#fff;
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.6);
}
#videobtns{
	position:absolute;
	width:50.5%;
	height:104px;
	text-align:center;
	margin-top:330px;
	margin-left:190px; 
	margin-right:190px;	
}
#videobtns span{
	margin-right:20px;
}
#youtubevideo{
	position:absolute;
	width:48%;
	height:431px;
	text-align:center;
	margin-left:190px; 
	margin-right:190px;
}

.pagination {
	position:absolute;
	bottom:100px;
	width:90%;
	height:20px;
	z-index:100000;
	text-align:center;
}
.pagination div {
	margin:0px auto 0 auto;
	width:8px;
	height:8px;
	background-color:#25170e;
	display:inline-block;
	margin:6px;
	border-radius:180px;

}

#pagination {
	position:absolute;
	bottom:100px;
	width:900px;
	height:20px;
	z-index:100000;
	text-align:center;
}
#pagination div {
	margin:0px auto 0 auto;
	width:8px;
	height:8px;
	background-color:orange;
	display:inline-block;
	margin:6px;
	border-radius:180px;

}
#mail {
	position:absolute;
	z-index:25;
	margin-top:-110px;
	margin-left:200px;
}
#facebook {
	position:absolute;
	z-index:25;
	margin-top:200px;
	margin-left:275px;
}
#twitter {
	position:absolute;
	z-index:25;
	margin-top:-110px;
	margin-left:330px;
}
.contactUsIcons:hover {
	-moz-transform: translate(0, -0.4em) rotate(5deg);
	-webkit-transform: translate(0, -0.4em) rotate(5deg);
	cursor:pointer;
}
