@import url(http://fonts.googleapis.com/css?family=Ubuntu);  
.pie-chart {position: relative; display: inline-block; width:150px; height:150px; margin:30px auto; text-align:center; font-family:"Ubuntu",sans-serif !important;}
.pie-chart canvas {position:absolute; top:0; left:0;}
.percent {display:inline-block; margin:auto; line-height:150px; z-index:2; font-size:40px; font-weight:500; text-align:center; font-family:"Ubuntu",sans-serif !important;}
/*.percent:after {content: '%';margin-left: 0.1em;font-size: .8em;}*/
.angular{margin-top:100px;}
.angular .chart {margin-top:0;}
.pie-chart .chart-text h3{font-size:22px; font-family:"Ubuntu",sans-serif !important;}